body {
	
	background: linear-gradient(#46494f, black);
	text-align: center;
	width: 80vw;
	height: 100vh;
	margin: auto;

}

h1 {
	color: white;
	font-family: 'Cabin', sans-serif;
	margin-top: 80px;
	font-weight: normal;
}

button { 
	color: black; 
	padding: 9px;
}

#quote {
	color: white;
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 72px;
}

#new-quote {
	font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}